@charset "UTF-8";
/*importamos una fuente de google*/
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dongle:wght@300&family=Italiana&family=Lato:ital,wght@0,300;1,300&family=Montserrat:wght@300;500&family=Oswald:wght@300&family=Palette+Mosaic&family=Poppins:ital,wght@0,200;0,300;1,100&family=Roboto+Condensed:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,100&family=The+Nautigal:wght@400;700&family=Updock&display=swap");
/*reseteamos todos los valores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'oswald'; }
  html body {
    height: 100vh; }

/* mapas */
/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
/* mapas */
/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
/* ESTILOS GENERALES HEADER */
#header {
  grid-area: header; }

#footer {
  grid-area: footer; }

.section_portada {
  grid-area: portada;
  border: #b90a0a 1px; }

.div_nuestras_leyendas {
  grid-area: n_leyendas; }

#header {
  background-image: linear-gradient(to right, #000000, #000000, #000000, #000000, #000000, #41424b, #727281);
  /* background-color: #010101; */
  font-size: 1.7rem;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-family: "oswald"; }

.logo_header {
  width: 8%; }

/* se agrega hover al nav */
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: linear-gradient(to right, #292727, #1a1919, #000000, #292727, #0e0e0f, #41424b, #9e9ead);
  gap: 20px; }

.navbar-navhover {
  color: #65606a; }

.navbar-nav ul a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  gap: 40px;
  padding-right: 1rem;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.3s; }

.navbar-toggler-icon {
  height: 3rem;
  width: 3rem; }

/* mapas */
/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
/* ESTILOS FOOTER */
/* se agrega hover al footer */
#footer {
  background-color: #050505;
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.titulos__footer {
  text-decoration: none;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  text-align: center; }

.footer__nav {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  list-style: none; }

.footer_nav a {
  color: #bfb8b8;
  font-size: 1.5rem;
  font-family: "roboto";
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  list-style-type: none; }
  .footer_nav a:hover {
    color: #fff; }

.footer li {
  list-style: none;
  list-style-type: none; }

.logo_footer {
  width: 3%;
  position: absolute;
  right: 5px; }

.footer_nav_a {
  display: flex;
  gap: 2rem;
  text-decoration: none;
  list-style-type: none; }

/* mapas */
/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
/* ESTILOS INICIO */
#grilla {
  display: grid;
  grid-template-areas: "header header header " "productos productos productos" "servicios servicios servicios" "footer footer footer";
  grid-template-rows: 0.2fr 2fr 1fr 0.5fr;
  grid-template-columns: auto;
  column-gap: 10px;
  height: 100vh;
  width: 100%; }

.border {
  border: 1px solid black; }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

section#productos {
  grid-area: productos;
  /* display:grid; 
    grid-template-columns: repeat(3, 1fr);   */
  background-color: #000000; }

section#servicios {
  grid-area: servicios; }

nav {
  grid-area: nav; }

aside {
  grid-area: publicidad; }

/* ESTILOS INDEX */
.section_portada {
  /* background-color: #000a002e; */
  color: #fff;
  display: flex;
  flex-direction: inline-block;
  height: 70vh;
  width: 100%;
  margin-bottom: 0%;
  /* background-image: linear-gradient(to right, #090909, #141518, #0a0b0e, #0c0d11, #252527, #41424b, #727281); */
  background-color: #000000; }

.d-block {
  background-color: #000000; }

.carousel-caption h1 {
  font-size: 6rem;
  font-family: "oswald"; }

.carousel-caption p {
  font-size: 2rem;
  font-family: "roboto"; }

.portada__h1 {
  margin-bottom: 0;
  font-size: 3rem;
  padding: 0px; }

.portada_h2 {
  font-size: 3rem; }

span {
  margin: 0;
  font-size: 9rem;
  padding: 0px; }

.titulos__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "oswald";
  font-size: 1.5rem; }

.section_portada img {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 60%;
  margin-top: 5%; }

/* enlaces a tienda */
/*se agrega hover */
.div_nuestras_leyendas {
  text-decoration: none;
  margin-top: 2%;
  margin-bottom: 0;
  width: 100%;
  height: 10%;
  color: #fff;
  font-size: 4rem;
  text-align: center;
  font-family: "oswald";
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.3s; }
  .div_nuestras_leyendas:hover {
    color: #65606a; }

.nuestras_leyendas {
  text-decoration: none;
  color: #fff; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.leyendas__Imagen_a_tienda {
  margin-top: 4%;
  margin-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem; }

/*se agrega transform: scale a imagenes */
.leyendas__Imagen_a_tienda--riv {
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 1s; }
  .leyendas__Imagen_a_tienda--riv:hover {
    transform: scale(1.05); }

.leyendas__Imagen_a_tienda--boc {
  transition: transform 1s; }
  .leyendas__Imagen_a_tienda--boc:hover {
    transform: scale(1.05); }

.leyendas__Imagen_a_tienda--ind {
  transition: transform 1s; }
  .leyendas__Imagen_a_tienda--ind:hover {
    transform: scale(1.05); }

.leyendas__Imagen_a_tienda--lqv {
  transition: transform 1s; }
  .leyendas__Imagen_a_tienda--lqv:hover {
    transform: scale(1.05); }

/* aplicado mapa */
.parrafo__leyenda--riv {
  background-color: #850a0a;
  width: 220px;
  margin-left: 20%;
  font-size: 1.5rem;
  font-family: "roboto";
  color: #fff;
  text-align: center;
  padding: 0; }

.parrafo__leyenda--boc {
  background-color: #94b406;
  width: 220px;
  margin-left: 20%;
  font-size: 1.5rem;
  font-family: "roboto";
  color: #fff;
  text-align: center; }

.parrafo__leyenda--ind {
  background-color: #f30018;
  width: 220px;
  margin-left: 20%;
  font-size: 1.5rem;
  font-family: "roboto";
  color: #fff;
  text-align: center;
  padding: 0%; }

.parrafo__leyenda--lqv {
  background-color: #101a4c;
  width: 220px;
  margin-left: 20%;
  font-size: 1.5rem;
  font-family: "roboto";
  color: #fff;
  text-align: center;
  padding: 0%; }

/*video y enlace a making of*/
#servicios {
  height: 30%;
  background-color: #258a1a; }

/*se modificó el gradiente */
.section_video {
  width: 100%;
  background-image: linear-gradient(to right top, #120c3b, #0d0e37, #090f32, #080f2d, #070f27, #0d1832, #13213d, #1a2948, #2a3d69, #3c528c, #5167b0, #687dd6); }

.div_nuestras_leyendas_1 {
  width: 100%;
  /* background-color: rgb(2, 2, 46); */
  margin-top: 0%;
  margin-bottom: 0;
  width: 100%;
  height: 10%;
  color: #fff;
  font-size: 4rem;
  text-align: center;
  font-family: "oswald"; }

.videos {
  height: 100px; }

/* se agrega hover */
.nuestras_leyendas_a {
  text-decoration: none;
  width: 100%;
  color: #fff;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.3s; }
  .nuestras_leyendas_a:hover {
    color: #d10c0c; }

.card {
  background-color: #dddcdc;
  box-shadow: 0px 0px 10px  #000000;
  border-radius: 10px; }

.card-img-top {
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  transition: transform 1s;
  width: 25rem;
  height: 45rem; }
  .card-img-top:hover {
    transform: scale(1.02); }

.video {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(186, 186, 189, 0.852); }

.alto {
  height: 60%; }

.leyendas__Imagen_a_tienda--lqv {
  height: 500px;
  width: 300px;
  margin: 0;
  height: 50%; }

.leyendas {
  background: rgba(186, 186, 189, 0); }

/* mapas */
/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
/* ESTILOS TIENDA */
.main_tienda {
  background-color: white; }

.section_tienda {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.tienda__Burrito {
  float: right; }

/* se agrega hover al carrito */
.carrito {
  background-color: #409140;
  font-size: 2rem;
  font-family: "oswald";
  text-decoration: none;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  transition-property: all;
  transition-duration: 0.1s;
  transition-delay: 0.1s; }
  .carrito:hover {
    background-color: #70d970; }

.section_tienda2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.tienda__Burrito2 {
  float: right; }

.tienda_carrito {
  font-size: 2rem;
  color: #080808; }

.tienda_carrito, p {
  color: #000000; }

/*aplicado mapa */
.tienda_carrito1 {
  background-color: black;
  color: #fff; }

.Detalle_tienda {
  font-size: 2rem;
  color: black; }

.Detalle_tienda_ul {
  font-size: 1.5rem;
  color: black; }

.fotos_continuas {
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  border: #000000; }

.fotos_continuas img {
  width: 10%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.3s; }
  .fotos_continuas img:hover {
    transform: scale(1.05);
    filter: brightness(1.1); }

.titulo_tienda {
  background-color: #02022e;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  font-family: "oswald"; }

aside {
  background-color: #918b8b39;
  width: 100%; }

.aside {
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  color: #000000;
  font-size: 1.5rem;
  text-align: center; }

.card1 {
  background-color: white;
  border-radius: 5%;
  box-shadow: 0px 0px 10px  #000000;
  border-radius: 10px; }

.card1-img-top {
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  transition: transform 1s;
  width: 20rem;
  height: 35rem; }

.card1-img-top:hover {
  transform: scale(1.04); }

/* se aplica MIXIN */
.card1-img-top {
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.3s; }
  .card1-img-top:hover {
    transform: scale(1.01);
    filter: brightness(1.05); }

/* ESTILOS TIENDA2*/
.container_tienda {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1f 1fr 1fr 0.1fr 1fr 0.1f;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "tienda1 tienda1 tienda1" "tienda1 tienda1 tienda1" "tienda1 tienda1 tienda1" "tienda2 tienda2 tienda2" "footer footer footer";
  margin-bottom: 0%; }

.header {
  grid-area: header; }

.tienda1 {
  grid-area: tienda1; }

.tienda2 {
  grid-area: tienda2; }

.footer {
  grid-area: footer; }

.gift {
  position: absolute;
  left: 30%;
  top: 8%; }

/* mapas */
/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
/* ESTILOS NOSOTROS*/
#header {
  width: 100%; }

.div_somos {
  width: 100%;
  height: 100%;
  background-color: white; }

.titulo_somos {
  width: 100%;
  height: 60rem;
  background-image: url("../assets/pipi nos.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #000000;
  font-size: 8rem;
  text-align: start;
  margin-top: 1%;
  color: #fff;
  font-family: "roboto"; }

.titulo_somos_b {
  width: 100%;
  height: 40rem;
  background-image: url("../assets/bocha3.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #000000;
  font-size: 4rem;
  text-align: end;
  margin-top: 1%;
  color: #fff;
  font-family: "roboto"; }

.mb-6 {
  color: black;
  font-family: "roboto";
  font-size: 2.5rem;
  text-align: center; }

.n1 {
  text-align: center; }

.h1n {
  font-size: 5rem; }

.h2n {
  font-size: 5rem; }

.h23 {
  font-size: 5rem; }

/* mapas */
/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
/* ESTILOS MAKING OF */
.artista_h1 {
  font-size: 5rem;
  margin-top: 5%; }

.main_making {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 100%;
  font-size: 20px;
  text-align: center;
  background-color: white;
  margin-top: 0%;
  margin-bottom: 0%; }

.post {
  font-size: 20px;
  color: black; }

.pintura {
  font-size: 20px;
  color: black; }

.titulos__header {
  display: flex;
  justify-content: center;
  background-color: #03083b;
  color: #fff; }

/* se agregan filtros a los videos */
/* SE APLICA UN EXTEND A LOS ESTILOS DE LOS VIDEOS */
.artista, .diseno, .impresion, .post1, .pintura {
  transition-property: all;
  transition-duration: 0.1s;
  transition-delay: 0.1s; }
  .artista:hover, .diseno:hover, .impresion:hover, .post1:hover, .pintura:hover {
    transform: scale(1.01);
    filter: grayscale(1); }

.p {
  font-family: "oswald";
  color: black;
  font-size: 2.5rem; }

/* mapas */
/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
/* ESTILO GIFT CARD */
.seccion {
  /*va a tener 35% del contenedor padre,(body)*/
  height: 35%; }

/*estilos PARA LA PAGINA CONTACTO*/
.main__contacto {
  height: 100vh;
  background-color: #fff; }

.main__contacto__seccion {
  height: 80%;
  width: 100%; }

.fondo__formulario {
  background-image: url("../assets/espalda.figuras-depositphotos-bgremover.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: center;
  height: 90%; }

.caja__formulario {
  width: 50%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.566);
  text-align: center;
  margin: 0 auto;
  /*centramos el contenedor*/
  border-radius: 3%; }

.formulario {
  padding: 2px; }

.formulario input, textarea {
  font-size: 1.6rem; }

.formulario, p {
  font-size: 2rem;
  color: #fff; }

.colorform {
  background-color: rgba(0, 0, 0, 0); }

.separador {
  margin-top: 10.5%;
  background-color: #000000;
  width: 100%;
  color: #fff; }

.separador_p {
  color: #fff;
  text-align: center; }

.pform {
  font-size: 1.3rem; }

/* mapas */
/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
@media screen and (max-width: 680px) {
  #header {
    font-size: 1.4rem; }
  .pantalla2 {
    position: relative;
    left: 40%; }
  .logo_header {
    height: 12%;
    width: 12%; }
  .div_nuestras_leyendas {
    font-size: 3rem; }
  .nuestras_leyendas_a {
    font-size: 2rem; }
  .div1_somos_p p {
    font-size: 1.4rem; }
  .div1_somos_p2 {
    width: 60%; }
  .div1_somos_p2 p {
    font-size: 1.4rem; }
  .imagen__portada {
    width: 15%;
    height: 25%; }
  .imagen1 {
    position: absolute;
    left: 55px;
    bottom: 35%;
    width: 15rem;
    height: 20rem; }
  .imagen2 {
    bottom: 10%; }
  .pform {
    font-size: 0.8rem; }
  .Detalle_tienda {
    font-size: 1.5rem; }
  .Detalle_tienda_ul {
    font-size: 1.3rem; }
  .tienda_carrito1 {
    background-color: #000000;
    color: #fff; }
  .section_portada {
    height: 45vh; }
  .gift {
    position: absolute;
    left: 0%;
    top: 85%; }
  .imagen3 {
    position: relative;
    width: 2.5%;
    height: 5%; }
  .section_tienda2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .logo_footer {
    width: 0%;
    position: absolute;
    right: 5px; }
  .footer_nav_a {
    gap: 1rem; }
  .tienda_carrito1 {
    font-size: 1rem; }
  .card-img-top {
    width: 20rem;
    height: 40rem; }
  .card1-img-top {
    width: 10rem;
    height: 23rem; }
  .mb-6 {
    font-size: 1.5rem; }
  .card-img-top {
    width: 17rem;
    height: 32rem; }
  .titulo_somos {
    font-size: 5rem; }
  .titulo_somos_b {
    font-size: 3rem; }
  .h1n {
    font-size: 3rem; }
  .h2n {
    font-size: 3rem; }
  .h23 {
    font-size: 3rem; }
  .mb-6 {
    font-size: 1.8rem; }
  .fotos_continuas {
    gap: 5rem;
    width: 100%; }
  .fotos_continuas img {
    width: 10%; }
  #inlineFormInputGroupUsername {
    font-size: 0.7rem; } }

@media screen and (min-width: 681px) and (max-width: 800px) {
  .pantalla2 {
    height: 50%;
    width: 50%; }
  .pantalla3 {
    height: 50%;
    width: 50%; }
  .caja__formulario {
    width: 80%; }
  .pform {
    font-size: 0.9rem; }
  #inlineFormInputGroupUsername {
    font-size: 0.7rem; }
  .mb-6 {
    font-size: 2rem; }
  .fotos_continuas {
    gap: 5rem;
    width: 100%; } }

@media screen and (max-width: 412px) {
  .header__nav ul a {
    font-size: 0.9rem; }
  .div_nuestras_leyendas {
    font-size: 1rem; }
  .nuestras_leyendas_a {
    font-size: 1rem; }
  .imagen__portada {
    width: 5%;
    height: 10%; }
  .div1_somos_p p {
    font-size: 1rem; }
  .div1_somos_p2 {
    width: 40%; }
  .div1_somos_p2 p {
    font-size: 1rem; }
  .imagen1 {
    position: absolute;
    left: 40px;
    bottom: 35%;
    width: 10rem;
    height: 15rem; }
  .imagen2 {
    bottom: 5%; }
  .pform {
    font-size: 0.75rem; }
  .Detalle_tienda {
    font-size: 1.2rem; }
  .Detalle_tienda_ul {
    font-size: 0.95rem; }
  .tienda_carrito1 {
    background-color: #000000;
    color: #fff; }
  .section_portada {
    height: 30vh; }
  .gift {
    position: absolute;
    left: 0%;
    top: 85%; }
  .leyendas__Imagen_a_tienda {
    gap: 1.2rem; }
  .nuestras_leyendas_a {
    justify-content: flex-start; }
  .logo_footer {
    width: 0%;
    position: absolute;
    right: 5px; }
  .footer_nav_a {
    gap: 1rem; }
  .titulo_somos {
    font-size: 5rem; }
  #inlineFormInputGroupUsername {
    font-size: 0.5rem; } }
