/*importamos una fuente de google*/
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dongle:wght@300&family=Italiana&family=Lato:ital,wght@0,300;1,300&family=Montserrat:wght@300;500&family=Oswald:wght@300&family=Palette+Mosaic&family=Poppins:ital,wght@0,200;0,300;1,100&family=Roboto+Condensed:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,100&family=The+Nautigal:wght@400;700&family=Updock&display=swap');

/*reseteamos todos los valores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html {

    font-size: 62.5%;
    font-family: 'oswald';
}

body{
    height: 100vh;

  
}