@import "variables";


/* ESTILOS GENERALES HEADER */

#header {
    grid-area: header;

}

#footer {
    grid-area: footer;
}

.section_portada {

    grid-area: portada;
    border: #b90a0a 1px;
}

.div_nuestras_leyendas {

    grid-area: n_leyendas;
}
 


#header {

background-image: linear-gradient(to right, #000000, #000000, #000000, #000000, #000000, #41424b, #727281);
   

/* background-color: #010101; */
font-size: 1.7rem;
color: $color-font;
font-weight: bold;
display: flex;
flex-direction: column;
font-family: 'roboto flex';

}


.logo_header {
    width: 8%; 
   
}

/* se agrega hover al nav */
.header__nav {
    display: flex;
     flex-direction: column;
     align-items: flex-end;
     background-image: linear-gradient(to right, #292727, #1a1919, #000000, #292727, #0e0e0f, #41424b, #9e9ead);
     gap: 20px;
    
} 

.navbar-nav {

    &hover {
    
        color:rgb(101, 96, 106);
      }

    ul {
        a {

            text-decoration: none;
            font-size: 2rem;
            color: $color-font;
            gap: 40px;
            padding-right: 1rem;
            transition-property: all;
           transition-duration: 0.3s;
            transition-delay: 0.3s;

}
}
}


  .navbar-toggler-icon {

    height: 5rem;
    width: 5rem;
}