@import "variables";

/* ESTILOS INICIO */

#grilla {
    display: grid;
    grid-template-areas:
      "header header header "
      "productos productos productos"
      "servicios servicios servicios"
      "footer footer footer" ;
     
      /*grid-template-rows: 0.5fr 2fr 1fr 0.5fr; 
      grid-template-columns: 20% auto 15%;*/
      grid-template-rows: 0.2fr 2fr 1fr 0.5fr;
      grid-template-columns: auto;
      /* row-gap: 10px; */
      column-gap: 10px;
      /* gap: 20px 10px; */
      height: 100vh;
      width: 100%;
 }
 .border {
    border: 1px solid black;
 }
 header {
    grid-area: header;
 }
 footer {
    grid-area: footer;
 }
 section#productos {
    grid-area: productos;  
    /* display:grid; 
    grid-template-columns: repeat(3, 1fr);   */
 } 
 section#servicios {
    grid-area: servicios;     
 }
 nav {
    grid-area: nav;
 }
 aside {
    grid-area: publicidad;
 }
 

 
/* ESTILOS INDEX */

.section_portada    {

   
   /* background-color: #000a002e; */
   
   color: $color-font;
   display: flex;
   flex-direction: inline-block;
   height: 70vh;
  width: 100%;
   margin-bottom: 0%;
   /* background-image: linear-gradient(to right, #090909, #141518, #0a0b0e, #0c0d11, #252527, #41424b, #727281); */
   background-color: $fondo-general;

   
}

.d-block {

   background-color: $fondo-general;

}

.carousel-caption h1{

   font-size: 6rem;
   font-family: $tipo-font-gral;
}


.carousel-caption p{

   font-size: 2rem;
   font-family: $tipo-font-gral2;
}

.portada__h1 {
   margin-bottom: 0;
   
   font-size: 3rem;
   padding: 0px;

}

.portada_h2 {

   font-size: 3rem;
}

span {

   margin: 0;
    font-size: 9rem;
    padding: 0px; 
}

.titulos__header {
   
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-family: $tipo-font-gral;
   font-size: 1.5rem;

}

.section_portada img {

   width: 60%;
   display: flex;
   flex-direction: column;
   height: 60%;
   margin-top: 5%;
 
  
}


/* enlaces a tienda */ 

/*se agrega hover */
.div_nuestras_leyendas {
   
   text-decoration: none;
   margin-top: 2%;
   margin-bottom: 0;
   width: 100%;
   height: 10%; 
   background-color: $fondo-general;
   // background-image: linear-gradient(to right, #090909, #141518, #0a0b0e, #0c0d11, #252527, #41424b, #727281);
   
   color: $color-font;

   font-size: 4rem;
   text-align: center;
   font-family: $tipo-font-gral;
   transition-property: all;
   transition-duration: 0.3s;
   transition-delay: 0.3s;
   background-image: $color-gradiente;
  

}

.nuestras_leyendas {
   
   text-decoration: none;
   color: $color-font;
}

.div_nuestras_leyendas:hover {
   color:rgb(101, 96, 106);
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.leyendas__Imagen_a_tienda {
   margin-top: 4%;
   margin-bottom: 10%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 10rem;
   
   
}

/*se agrega transform: scale a imagenes */

.leyendas__Imagen_a_tienda--riv {
   width: 18rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   transition: transform 1s;
}

.leyendas__Imagen_a_tienda--riv:hover {
   
   transform: scale(1.05);

}

.leyendas__Imagen_a_tienda--boc {

   transition: transform 1s;
}

.leyendas__Imagen_a_tienda--boc:hover {

   transform: scale(1.05);
}

.leyendas__Imagen_a_tienda--ind {

   transition: transform 1s;
}

.leyendas__Imagen_a_tienda--ind:hover {

   transform: scale(1.05);
}

.leyendas__Imagen_a_tienda--lqv {

   transition: transform 1s;
}

.leyendas__Imagen_a_tienda--lqv:hover {

   transform: scale(1.05);
}


.parrafo__leyenda--riv {    

   background-color: rgb(133, 10, 10);
   width: 220px ;
   margin-left: 20%;
   font-size: 1.5rem;
   font-family: $tipo-font-gral2; 
   color: $color-font;
   text-align: center;
   padding: 0;

   
}

.parrafo__leyenda--boc {    

   background-color: rgb(25, 0, 74);
   width: 220px ;
   margin-left: 20%;
   font-size: 1.5rem;
   font-family: $tipo-font-gral2; 
   color: $color-font;
   text-align: center;

}

.parrafo__leyenda--ind {    

   background-color: rgb(243, 0, 24);
   width: 220px ;
   margin-left: 20%;
   font-size: 1.5rem;
   font-family: $tipo-font-gral2; 
   color: $color-font;
   text-align: center;
   padding: 0%;
}

.parrafo__leyenda--lqv {    

   background-color: rgb(0, 0, 0);
   width: 220px ;
   margin-left: 20%;
   font-size: 1.5rem;
   font-family: $tipo-font-gral2; 
   color: $color-font;
   text-align: center;
   padding: 0%;
}


/*video y enlace a making of*/


#servicios {
   height: 30%;
   background-color: #258a1a;
  
}

/*se modificó el gradiente */

.section_video {

  
   width: 100%;
   /* background-color: rgb(255, 255, 255); */
   /* background-color: rgb(2, 2, 46); */
   /* display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center; */
   // background-image: linear-gradient(to right top, #120c3b, #0d0e37, #090f32, #080f2d, #070f27, #0d1832, #13213d, #1a2948, #2a3d69, #3c528c, #5167b0, #687dd6);

   background-image: $color-grad-az;
}

.div_nuestras_leyendas_1 {

   width: 100%;
   /* background-color: rgb(2, 2, 46); */
   margin-top: 0%;
   margin-bottom: 0;
   width: 100%;
   height: 10%; 
    
   color: $color-font;
   font-size: 4rem;
   text-align: center;
   font-family: $tipo-font-gral;

}

.videos {

   height: 100px;
}

/* se agrega hover */

.nuestras_leyendas_a {
   
   text-decoration: none;
   width: 100%;
   color: $color-font;
   transition-property: all;
   transition-duration: 0.3s;
   transition-delay: 0.3s;
   
}

.nuestras_leyendas_a:hover {
   color: rgb(209, 12, 12);
   
}

.video {

  position: relative;
 
   height: 100%;
   width: 100%;
   background: rgba(186, 186, 189, 0.852);
      
}

.alto {

   height: 60%;
}
.leyendas__Imagen_a_tienda--lqv {

   height: 500px;  
   width: 300px;
   margin: 0;
   height: 50%;  
   
}

.nota_aviso_legal   {

   font-size: 1.2rem;
   color: #080808;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
