@import "variables";


@media screen and (max-width: 680px) {

         #header {

        font-size: 1.4rem;
              
        }

        .pantalla2 {
            position: relative;
            left: 40%;  
         
        }

        .div_nuestras_leyendas { 

        font-size: 3rem;
            }
        .nuestras_leyendas_a {

        font-size: 2rem;
        }

        .div1_somos_p p {

        font-size: 1.4rem;

        }

        .div1_somos_p2 {

        width: 60%;

        }

        .div1_somos_p2 p{

        font-size: 1.4rem;

        }
        .imagen__portada {

        width: 15%;
        height: 25%;

        }

        .imagen1 {

        position: absolute; 
        left: 55px;
        bottom: 35%;
        width: 15rem;
        height: 20rem;

        }

        .imagen2 {

        bottom: 10%;
        }

        .pform {
        font-size: 1.5rem;
        }

        .Detalle_tienda {

        font-size: 1.5rem;
        }

        .Detalle_tienda_ul {

        font-size: 1.3rem;
        }

        .tienda_carrito1 {

        background-color: #000000;
        color: #fff;

        }

        .section_portada {

        height: 45vh;
        }


        .gift {
        position: absolute;
        left: 0%;
        top: 105%;

        }   

        .imagen3 {
        position: relative;

        width: 2.5%;
        height: 5%;

        } 

    }

 @media screen and (max-width: 800px) {

        .pantalla2 {
           height: 0%;
           width: 0%;
        }

    }

 @media screen and (max-width: 412px) {

        
         .header__nav ul a {

            font-size: 1rem;
                           
            }

        .div_nuestras_leyendas { 
         
          font-size: 1rem;
              }
         .nuestras_leyendas_a {
  
          font-size: 1rem;
         }
  

         .imagen__portada {

          width: 5%;
          height: 10%;
        
        }
        
   
         .div1_somos_p p {
  
          font-size: 1rem;
          
         }
  
         .div1_somos_p2 {
  
        width: 40%;
  
         }
  
         .div1_somos_p2 p{
  
          font-size: 1rem;
  
         }
  
       .imagen1 {
  
          position: absolute; 
          left: 40px;
          bottom: 35%;
          width: 10rem;
          height: 15rem;
       }
  
        .imagen2 {
        
            bottom: 5%;
        }
        
        .pform {
            font-size: 1.2rem;
        }
        
        .Detalle_tienda {
        
            font-size: 1.2rem;
        }
        
        .Detalle_tienda_ul {
        
            font-size: 1rem;
        }
        
        .tienda_carrito1 {
        
            background-color: #000000;
            color: #fff;
        
        }
        
        .section_portada {
        
            height: 30vh;
        }
        
        .gift {
            position: absolute;
            left: 0%;
            top: 105%;
            
            }   

        .leyendas__Imagen_a_tienda {
            
                gap: 1.2rem;
                
            }
        .nuestras_leyendas_a{
            justify-content: flex-start;

            }
    
  }
  
