@import "variables";


/* ESTILOS NOSOTROS*/


#header {
    width: 100%;
}

.div_somos {

    width: 100%;
    height: 100%;
    background-color: $fondo-general-b;

}

.titulo_somos {

    width: 100%;
    height: 60rem;
    background-image: url("../assets/pipi\ nos.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: $fondo-general;
    font-size: 8rem;
    text-align: start;
    margin-top: 1%;
    color: $color-font;
    font-family:$tipo-font-gral2 ;

    
}

.titulo_somos_b {   

    width: 100%;
    height: 40rem;
    background-image: url("../assets/bocha3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: $fondo-general;
    font-size: 4rem;
    text-align: end;
    margin-top: 1%;
    color: $color-font;
    font-family:$tipo-font-gral2 ;

}

 .mb-6 {

    color: $color-font2;
    
    font-family: $tipo-font-gral2;
    font-size: 2.5rem;
    text-align: center;

}

.n1 {
    
    text-align: center;
    
}

.h1n {
    font-size: 5rem;

}
.h2n {
    font-size: 5rem;

}
.h23 {
    font-size: 5rem;

}

