@import "variables";


/* ESTILOS TIENDA */


 .main_tienda {

         background-color: $fondo-general-b;
}

.section_tienda {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.tienda__Burrito {
        float: right;

}

/* se agrega hover al carrito */

.carrito {

        background-color: $boton-carrito;
        font-size: 2rem;
        font-family: $tipo-font-gral;
        text-decoration: none;
        color: $color-font;
        padding-left:  5%;
        padding-right: 5%;

        transition-property: all;
        transition-duration: 0.1s;
        transition-delay: 0.1s;

        &:hover {

        background-color: $boton-carrito-hov;

}
}

.section_tienda2 {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.tienda__Burrito2 {
        float: right;
}

.tienda_carrito {

        font-size: 2rem;
        color: #080808;
}


.tienda_carrito, p {

        color: $fondo-general;
}

/*aplicado mapa */

.tienda_carrito1 {

        background-color: map-get($colores-leyendas, tienda-otros);
        color: $color-font;

}

.Detalle_tienda {


        font-size: 2rem;
        color: $color-font2;
}

.Detalle_tienda_ul {

        font-size: 1.5rem;
        color: $color-font2;

}

.fotos_continuas {

        margin-top: 0%;
        margin-bottom: 0%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        width: 100%;
        border: #000000;

}



.fotos_continuas img {  
        width: 10%;
        transition-property: all;
        transition-duration: 0.3s;
        transition-delay: 0.3s;
      

        &:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
}
}


.titulo_tienda {
        background-color:rgb(2, 2, 46);
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin: 0;
        font-family: $tipo-font-gral;
}

aside {
        background-color: $fondo-aside-tienda;
        width: 100%;
}

.aside {

        margin-top: 0%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        width: 100%;
        color: $fondo-general;
        font-size: 1.5rem;
        text-align: center;

}


.card1 {
        background-color: $fondo-general-b;
        border-radius: 5%;
       box-shadow: 0px 0px 10px  #000000;
       border-radius: 10px;
     
     }
     
     .card1-img-top {
        transition-property: all;
        transition-duration: 0.3s;
        transition-delay: 0.3s;
        transition: transform 1s;
        width: 20rem; 
        height: 35rem;
     
     }
     
     .card1-img-top:hover {
        transform: scale(1.04);
     
       
        
     
     }
/* se aplica MIXIN */

@mixin tiendaOtros {

    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.3s;

    &:hover {
        transform: scale(1.01);
        filter: brightness(1.05);
    }
}

.card1-img-top { 

    @include tiendaOtros;

}

// CODIGO ANTERIOR A MIXIN

// .aside__tienda--ind { 

//     transition-property: all;
//     transition-duration: 0.3s;
//     transition-delay: 0.3s;

//     &:hover {
//         transform: scale(1.01);
//         filter: brightness(1.05);
// }

// .aside__tienda--boc { 

//     transition-property: all;
//     transition-duration: 0.3s;
//     transition-delay: 0.3s;

//     &:hover {
//         transform: scale(1.01);
//         filter: brightness(1.05);
// }

// .aside__tienda--san { 
        // transition-property: all;
        // transition-duration: 0.3s;
        // transition-delay: 0.3s;
        
        //  &:hover {
        //  transform: scale(1.01);
        // filter: brightness(1.05);
// }

/* ESTILOS TIENDA2*/

.container_tienda {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1f 1fr 1fr 0.1fr 1fr 0.1f;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "tienda1 tienda1 tienda1"
      "tienda1 tienda1 tienda1"
      "tienda1 tienda1 tienda1"
      "tienda2 tienda2 tienda2"
      "footer footer footer";
      margin-bottom: 0%;
  }
  
  .header { 
      grid-area: header; }
  
  .tienda1 { 
      grid-area: tienda1; }
  
  .tienda2 {
       grid-area: tienda2; }
  
  .footer { 
      grid-area: footer; }
  
.gift {
position: absolute;
 left: 30%;
 top: 8%;
    
}   
