
$color-gradiente:  linear-gradient(to right, #090909, #141518, #0a0b0e, #0c0d11, #252527, #41424b, #727281);
$color-grad-az: linear-gradient(to right top, #120c3b, #0d0e37, #090f32, #080f2d, #070f27, #0d1832, #13213d, #1a2948, #2a3d69, #3c528c, #5167b0, #687dd6);
$fondo-general: #000000;
$boton-carrito: rgb(64, 145, 64);
$boton-carrito-hov: rgb(112, 217, 112);
$fondo-form: rgba(0, 0, 0, 0.566);
$color-font:#fff;
$tipo-font-gral:'oswald';
$tipo-font-gral2: 'roboto';


/* mapas */

$colores-leyendas: (
        river: rgb(133, 10, 10),
        boca: rgb(148, 180, 6),
        independiente: rgb(243, 0, 24),
        sanlorenzo: rgb(16, 26, 76),
        tienda-otros: rgb(0, 0, 0),

)

/* MAPA SE INCLUYE EN variables, inicioestilos.scss y tiendaestilos.scss */
/* EXTEND SE INCLUYE EN makingofestilos.scss */
/* MIXIN SE INCLUYE EN tiendaestilos.scss */
